aiohttp
aiosignal
aiostream
altgraph 
annotated-types
anyio
appnope
asgiref
asttokens
async-timeout
attrs
backcall
blinker
certifi
charset-normalizer
click
cloudpickle
comm
dataclasses-json
debugpy
decorator
docopt
exceptiongroup
executing
fastapi
filelock
Flask
Flask-Cors
frozenlist
fsspec
future 
greenlet
grpclib
h2
hpack
huggingface-hub
hyperframe
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
langchain
macholib 
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
modal
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
numexpr
numpy
openai
packaging
parso
pexpect
pickleshare
Pillow
pipreqs
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
PyYAML
pyzmq
regex
requests
rich
safetensors
sigtools
six 
sniffio
SpeechRecognition
SQLAlchemy
stack-data
starlette
sympy
synchronicity
tblib
tenacity
tokenizers==0.11.1
toml
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
types-certifi
types-toml
typing-inspect
typing_extensions
urllib3
watchdog
watchfiles
wcwidth
Werkzeug
yarg
yarl
zipp
gunicorn