<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>App title tbd</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  </head>
  <body>
    <h1>Audio-to-Agreement (change title later)</h1>
    <!-- Step 1: user uploads an audio file -->
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".mp3, .wav, .ogg" />
      <input type="submit" value="Transcribe" />
    </form>

    <!-- Step 2: display transcribed text -->
    {% if transcript == "" %}
    <div id="transcription"></div>
    {% endif %} {% if transcript != "" %}
    <div id="speechTranscriptConainer">
      <div id="transcription">
        <h2>Transcribed Text:</h2>
        <p>{{transcript}}</p>
      </div>
    </div>
    {% endif %}
    <!-- Step 3: generate agreements -->
    <h2>Generated Agreements:</h2>
    <p>Note: maybe generate 3 agreement templates to choose from (?)</p>
    <ul>
      <li>Agreement 1</li>
      <li>Agreement 2</li>
      <li>Agreement 3</li>
      <!-- additional agreements will be listed here -->
    </ul>

    <!-- Step 4: user feedback and modification using audio file upload -->
    <h2>Review and Modify Agreements:</h2>
    <form action="/modify" method="POST" enctype="multipart/form-data">
      <input type="file" name="audio_feedback" accept=".mp3, .wav, .ogg" />
      <input type="submit" value="Upload Audio Feedback" />
    </form>

    <!-- Step 5: ai suggestions -->
    <h2>AI Suggestions:</h2>
    <p>AI-generated suggestions based on user feedback will display here</p>

    <!-- Step 6: finalise & download agreements -->
    <a href="/download">Download Customized Agreements</a>

    <!-- future features - will leave it here for now and check off later-->
    <h2>Future Features:</h2>
    <ul class="future-features">
      <li>Live translation</li>
      <li>Read agreements aloud</li>
      <li>Auto-sign certain documents</li>
      <li>Remove signatures</li>
      <li>Manage document collections</li>
    </ul>
    <script>
      $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
          var upload = e.target.files[0].name;
          $("#filename").text(upload);
        });
      });
    </script>
  </body>
</html>
